<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redimensionar images com Sharp</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;700&display=swap" rel="stylesheet">

    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: 'Baloo Thambi 2', cursive, Arial, sans-serif;
        }
        
        header {
            width: 100%;
            height: 70px;
            box-shadow: 0 1px rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 24px;
        }
        
        main {
            width: 700px;
            margin: 0 auto;
        }
        
        .row {
            margin-bottom: 15px;
            border-bottom: dashed 1px #ccc;
        }
        
        p {
            font-size: 1.1em;
        }
        
        .button-link {
            border: none;
            display: block;
            font-size: 1.3em;
            cursor: pointer;
            background-color: #fff;
            color: #0000EE;
        }
        
        .button-link:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <header>
        <h1>Redimensionar imagens com Sharp/Node</h1>
    </header>

    <main>
        <div class="row">
            <p>A imagem original pesa cerca de 3.63mb com uma resolução de 3000x2000</p>
            <p>Com essa solução é possivel tratar a imagem de acordo com seu uso e poupar uso de dados assim aumentanto a velocidade de carregamento</p>
            <p>Há uma certo limite para essa solução, ao meu ver, ela é ideal para pequenos e médios sites cuja disparidades de resoluções de imagens é muito alta</p>
        </div>
        <div class="row">
            <p>Imagem não redimesionada:</p>
            <button class="button-link" onclick="download('/images/01.jpg')">http://localhost:<%= PORT %>/images/01.jpg</button>
        </div>
        <div class="row">
            <p>Imagem redimesionada com "width" de 250px:</p>
            <button class="button-link" onclick="download('/images/01.jpg?width=250')">http://localhost:<%= PORT %>/images/01.jpg?width=250</button>
        </div>
        <div class="row">
            <p>Imagem redimesionada com "width" de 250px e qualidade de 70%:</p>
            <button class="button-link" onclick="download('/images/01.jpg?width=250&quality=70')">http://localhost:<%= PORT %>/images/01.jpg?width=250&quality=70</button>
        </div>

        <h2>Memoria usada palo cache:
            <%= cacheSize  %>
        </h2>
        <div class="row">
            <p>Uma cópia de imagem tratada é armazena no cache, evitando o reprocessamento da mesma</p>
        </div>
    </main>
    <script>
        function download(link) {
            window.open(link)
            setTimeout(() => {
                location.reload();
            }, 1500);
        }
    </script>
</body>

</html>